@model X.PagedList.IPagedList<BeerOverflow.Web.Models.StyleViewModel>
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager﻿
@using Microsoft.AspNetCore.Identity
@using X.PagedList.Mvc.Core

<link href="~/css/PagedList.css" rel="stylesheet" type="text/css" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="~/js/Filter.js"></script>
@{
    ViewBag.Title = "Styles";
}

<h2>Styles</h2>

@if (SignInManager.IsSignedIn(User))
{
    <p>
        <a asp-action="Create">Create a new style</a>
    </p>
}

@using (Html.BeginForm("List", "Style", FormMethod.Get))
{
    <p>
        <input class="form-control" id="myInput" type="text" placeholder="Search..">

    </p>
}
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Name", "List", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="myTable">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                @if (User.IsInRole("Member"))
                {
                    <td>
                        <a asp-controller="Style" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    </td>
                    <td>
                        <a asp-controller="Style" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    </td>
                }

                else if (User.IsInRole("Admin"))
                {
                    <td>
                        <a asp-controller="Style" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    </td>
                    <td>
                        <a asp-controller="Style" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    </td>
                    <td>
                        <a asp-controller="Style" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                }

                else
                {
                    <td>
                        <a asp-controller="Style" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>

    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("List",
        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
